<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="stocks-tab" data-toggle="tab" href="#stocks" role="tab" aria-controls="stocks-tab" aria-selected="true">Stocks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="toner-parts-tab" data-toggle="tab" href="#toner-parts" role="tab" aria-controls="toner-parts-tab" aria-selected="false">Toner Parts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="part-types-tab" data-toggle="tab" href="#part-types" role="tab" aria-controls="part-types-tab" aria-selected="false">Part Types</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="stocks" role="tabpanel" aria-labelledby="stocks-tab">
      <app-stocks></app-stocks>
    </div>
    <div class="tab-pane fade" id="toner-parts" role="tabpanel" aria-labelledby="toner-parts-tab">
      <app-toner-parts></app-toner-parts>
    </div>
    <div class="tab-pane fade" id="part-types" role="tabpanel" aria-labelledby="part-types-tab">
      <app-part-types></app-part-types>
    </div>
  </div>