<form>
    <div class="form-group">
        <label for="name">Toner Part</label>
        <app-toner-part-dropdown [tonerPartId]="stock.TonerPartId" (select)="stock.TonerPartId=$event.Id"></app-toner-part-dropdown> 
    </div>
    <div class="form-group">
        <label for="name">Quantity</label>
        <input type="number" class="form-control" id="name" name="name" placeholder="0" [(ngModel)]="stock.Quantity">
    </div>    
    <div class="form-group">
      <label for="name">Selling Price</label>
      <input type="number" class="form-control" id="name" name="name" placeholder="0" [(ngModel)]="stock.SellingPrice">
    </div>
    <div class="form-group">
      <label for="name">Cost Price</label>
      <input type="number" class="form-control" id="name" name="name" placeholder="0" [(ngModel)]="stock.CostPrice">
    </div>
    
    <button type="submit" class="btn btn-outline-primary mr-2" (click)="add()">Add</button>
    <button type="submit" class="btn btn-outline-primary" (click)="location.back()">Cancel</button>
</form>