<ng-container *ngIf="!isEditable">
    <td>{{toner.Name}}</td>
    <td>
        <button class="btn btn-primary" (click)="isEditable=true"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-primary" (click)="delete()"><i class="fa fa-trash"></i></button>
    </td>
</ng-container>
<ng-container *ngIf="isEditable">
    <td><input type="text" class="form-control" [(ngModel)]="edit.Name" /></td>
    <td>
        <button class="btn btn-primary" (click)="update()" ><i class="fa fa-save"></i></button>
        <button class="btn btn-primary" (click)="cancel()" ><i class="fa fa-ban"></i></button>
    </td>
</ng-container>