<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Clients</a>
  <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0 mx-1" type="submit">Search</button>
        <a class="btn btn-primary my-2 my-sm-0 mx-1" routerLink="/clients/add">
            <i class="fa fa-plus"></i>
        </a>
  </form>
</nav>

<div class="table-responsive">
  <table class="table table-striped table-hover">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Address</th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tr *ngFor="let client of clients; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{client.Name}}</td>
            <td>{{client.Email}}</td>
            <td>{{client.Mobile}}</td>
            <td>{{client.Address}}</td>
            <td>
                <a class="btn" routerLink="/clients/view/{{client.Id}}"><i class="fa fa-eye"></i></a>
                <a class="btn" routerLink="/clients/edit/{{client.Id}}"><i class="fa fa-pencil"></i></a>
            </td>
      </tr>
  </table>
</div>