<div class="card">
  <div>
      <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand">Toner Jobs</a>
          <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-primary my-2 my-sm-0 mx-1" type="submit">Search</button>
                  <button class="btn btn-primary my-2 my-sm-0 mx-1" data-toggle="modal" data-target="#addTonerJobModal">
                      <i class="fa fa-plus"></i>
                  </button>
          </form>
      </nav>
  </div>
  <div>
      <div class="table-responsive">
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th scope="col">Client</th>
                      <th scope="col">No of Toners</th>
                      <th scope="col">Collected by</th>
                      <th scope="col">In @</th>
                      <th scope="col">Delivered by</th>
                      <th scope="col">Out @</th>     
                      <th scope="col">Remarks</th>
                      <th scope="col">No of Items Replaced</th>
                      <th scope="col">Total Bill</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <app-toner-job-editable-row *ngFor="let t of tonerJobs" [tonerJob]="t" (deleteTonerJobEvent)="removeTonerJob($event)">               
              </app-toner-job-editable-row>
          </table>
      </div>
  </div>
</div>

<app-toner-job-add-modal (newTonerJobEvent)="tonerJobs.push($event)"></app-toner-job-add-modal>