 <!-- Modal -->
 <div #modal  class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="addStockModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addStockModalLabel">New Stock</h5>        
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Product Name" [(ngModel)]="stockItem.Name">
                </div>   
                <div class="form-group">
                    <label for="name">Quantity</label>
                    <input type="number" class="form-control" id="name" name="name" placeholder="0" [(ngModel)]="stockItem.Quantity">
                </div>    
                <div class="form-group">
                  <label for="name">Selling Price</label>
                  <input type="number" class="form-control" id="name" name="name" placeholder="0" [(ngModel)]="stockItem.SellingPrice">
                </div>
                <div class="form-group">
                  <label for="name">Cost Price</label>
                  <input type="number" class="form-control" id="name" name="name" placeholder="0" [(ngModel)]="stockItem.CostPrice">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="add()"><i class="fa fa-plus"></i> Add</button>
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="cancel()"><i class="fa fa-remove"></i> Cancel</button>
        </div>
      </div>
    </div>
  </div>