<div class="card">
    <div>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Toners</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0 mx-1" type="submit">Search</button>
                <button class="btn btn-primary my-2 my-sm-0 mx-1"  data-toggle="modal" data-target="#addTonerModal">
                    <i class="fa fa-plus"></i>
                </button>
            </form>
        </nav>
    </div>
    <div>        
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th></th>
                    </tr>
                </thead>
                <app-toner-editable-row *ngFor="let t of toners" [toner]="t">                    
                </app-toner-editable-row>
            </table>
        </div>
    </div>
</div>
<app-toner-add-modal [clientId]="clientId"></app-toner-add-modal>