/* You can add global styles to this file, and also import other style files */
body{
    margin-top: 75px;
    margin-bottom: 25px;
}

.card table{
    margin-bottom: 0px;
}

td .btn{
    margin-right:5px;
}

table{
    table-layout: fixed;
}
