<ng-container *ngIf="!isEditable">
  <td>{{employee.Name}}</td>
  <td>{{employee.Email}}</td>
  <td>{{employee.Mobile}}</td>
  <td>{{employee.Address}}</td>
  <td>      
      <button class="btn btn-primary" (click)="isEditable=true" ><i class="fa fa-pencil"></i></button>
  </td>
</ng-container>
<ng-container *ngIf="isEditable">
  <td><input type="text" class="form-control" [(ngModel)]="edit.Name" ></td>
  <td><input type="text" class="form-control" [(ngModel)]="edit.Email"></td>
  <td><input type="text" class="form-control" [(ngModel)]="edit.Mobile"></td>
  <td><input type="text" class="form-control" [(ngModel)]="edit.Address"></td>
  <td>
      <button class="btn btn-primary" (click)="update()" ><i class="fa fa-save"></i></button>
      <button class="btn btn-outline-primary" (click)="cancel()" ><i class="fa fa-ban"></i></button>
  </td>
</ng-container>